.gradient-title
  margin-bottom: 10px

.gradient-container
  display: flex

  .gradient-bar
    width: 30px
    height: 340px

  .gradient-labels
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 10px

    .gradient-label-filler
      flex: 1 1
