.container
  margin-top: 10px
  margin-left: 8px
  margin-right: 8px

  div
    margin-bottom: 10px

.value-container
  margin-left: 10px

.title
  font-weight: bold

.subtitle
  font-style: italic
  font-weight: bold

.value
  margin-top: 4px
  margin-bottom: 4px
  text-indent: 20px

.table-container
  width: 300px

.other
  .value-container
    display: flex

    .filler
      width: 20px

dino-datatable .mat-column---Authors,
dino-datatable .mat-column---Institutions
  text-align: right
